.root {
  padding-bottom: 50px;
}

.actions {
  display: flex;
  position: sticky;
  top: 3rem;
  flex-direction: row;
}

.actions :not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: solid 1px rgba(var(--on-background), 25%);
}
.actions :not(:last-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.share {
  flex-grow: 0;
}

.vote {
  flex-grow: 1;
  text-align: center;
}

.items {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid 1px rgb(var(--primary), 50%);
}
.removeItem {
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

.form {
  display: flex;
  gap: 5px;
  position: fixed;
  bottom: env(keyboard-inset-height, 0);
  left: 0;
  right: 0;
  padding: 10px 15px;
  background-color: rgb(var(--background));
}

.input {
  flex-grow: 1;
  padding: 5px 20px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-radius: 1000px;
  min-width: 0;
}

.add {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, var(--text-opacity)) !important;
  background-color: white;
  color: inherit;
  height: 2em;
  width: 2em;
  border-radius: 1000px;
  text-align: center;
  flex-shrink: 0;
}
