.home {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  background-image: url("/background.jpeg");
  background-position: bottom;
  background-size: cover;
  inset: 0;
  padding: 1rem;
}

.title {
  font-size: 2rem;
}

.new {
  margin: 15vh 0;
  gap: 2rem;
}

.new a {
  padding: 2rem;
}
