.home {
  text-align: center;
  background-image: url("/background.jpeg");
  background-position: center;
  background-size: cover;
  position: absolute;
  inset: 0;
  padding: 1rem;
}

.title {
  margin-top: 25vh;
  font-size: 2rem;
}

.new {
  margin-top: 15vh;
  gap: 2rem;
}

.new a {
  padding: 2rem;
}
