.home {
  text-align: center;
}

.title {
  margin-top: 25vh;
  font-size: 2rem;
}

.new {
  display: inline-block;
  margin-top: 15vh;
  background-color: rgb(var(--success));
  color: rgba(var(--on-success), var(--text-opacity));
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}
