.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50vh;
}
.buttons > * {
  flex-grow: 1;
}

.undo {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
}
