.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background-color: rgb(var(--primary));
  color: rgba(var(--on-primary), var(--text-opacity));
}

.navItem {
  color: inherit;
  text-decoration: none;
}

.content {
  margin-top: 38px;
  padding: 5px;
}
