:root {
  --background: 30, 30, 30;
  --on-background: 255, 255, 255;
  --primary: 25, 35, 125;
  --on-primary: 255, 255, 255;
  --primary-light: 158, 190, 255;
  --on-primary-light: 0, 0, 0;
  --secondary: 255, 100, 130;
  --on-secondary: 0, 0, 0;
  --error: 247, 200, 224;
  --on-error: 0, 0, 0;
  --success: 223, 255, 216;
  --on-success: 0, 0, 0;

  --text-opacity: 80%;

  font-family: sans-serif;
}

:root {
  background-color: rgb(var(--background));
  color: rgb(var(--on-background));
}

body {
  padding: 0;
  margin: 0;
  padding-bottom: env(keyboard-inset-height, 0);
}
